$obi-body-color: #212529;
$obi-highlight-color: #007BFF;

$nav-underline-link-color: $obi-body-color;
$nav-underline-link-active-color: $obi-highlight-color;
$nav-underline-link-active-border-color: $obi-highlight-color;

$secondary-bg: #EAEAEA;

$obi-btn-box-shadow: none;
$obi-border-color: #E9ECEF;

$obi-ag-grid-filter: none;
