$fa-font-path: '~font-awesome/fonts' !default;
$icon-font-path: '~open-iconic/font/fonts/' !default;
$font-styles-path: './fonts' !default;
$font-family-base: 'Roboto', 'Open Sans', Arial, sans-serif !default;
